---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts.ts";
import FormattedDate from "../../components/FormattedDate.astro";
import type { Post } from "../../types/payload-types.ts";

type Props = Post;

// Получаем данные с сайта
const response = await fetch("http://localhost:3000/api/posts?", {
  method: "GET",
});
// Переделываем данные в список JSON-объектов
const getpost = await response.json();
// Отделяем первый пост для первой карточки
const data: Post = getpost.docs[0];
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
      }
      ul li:first-child img {
        width: 100%;
      }
      ul li:first-child .title {
        font-size: 2.369rem;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      ul li a:hover h4,
      ul li a:hover .date {
        color: rgb(var(--accent));
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <ul>
        <li>
          <a href={`/blog/${data.slug}/`}>
            {
              getpost.docs[0].meta.image.url && (
                <img
                  width={720}
                  height={360}
                  src={data?.meta?.image?.url}
                  alt=""
                />
              )
            }
            {
              data?.publishedAt && (
                <div class="date">
                  <FormattedDate date={new Date(data?.publishedAt)} />
                </div>
              )
            }
            <h4 class="title">{data.title}</h4>
            <p>{data.hero.richText[0].children.map((arr) => arr.text)}</p>
          </a>
        </li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
